/* 颜色 */
$uni-color-white: #FFFFFF;
$uni-color-red: #dd524d;
$uni-color-pink: pink;
$uni-color-green: #06A688;
$uni-color-blue: blue;
$uni-color-orange: orange;
$uni-color-grey: #E5E5E5;
$uni-color-greyblack: #777;

/* 文字尺寸 */
$uni-font-size-xs:20rpx;
$uni-font-size-xl:36rpx;

// 图片尺寸
$uni-img-size-xs: 30rpx;
$uni-img-size-xl: 110rpx;



@import '@/common/function.scss';